/* =======For-fullpage-Loader-css-start========= */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
    border-top: 7px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* =========For-fullpage-Loader-css-end======= */